<%- include('./partials/nav')  %>
    <title><%= category %></title>

    <!--ex 3 question 4-->
    <h1> <%= category %> </h1>

    <!--ex 3 question 3-->
    <% menuitems.forEach(function(item){ %>
        <ul>
            <li>
                <%= item.name %>
                <br/>
                <%= item.price %>
                <br/>
                <%= item.rating %>
                <br/>
                <%= item.details %>
            </li>
        </ul>
    <% }) %>
</body>
</html>