<%- include('./partials/nav')  %>
    <title>Menu</title>


    <h1>Full Menu</h1>

    <!--ex 2 question 2-->
    <% menuitems.forEach(function(item){ %>
        <ul>
            <li>
                <%= item.name %>
                <br/>
                <%= item.price %>
                <br/>
                <%= item.rating %>
                <br/>
                <%= item.details %>
            </li>
        </ul>
    <% }) %>
</body>
</html>